{% extends "base.html" %}
{% set page_title = "Login" %}

{% block content %}

<div class="uk-card uk-card-small uk-card-default uk-position-center">
  <div class="uk-card-body">
    <h3 class="uk-card-title">Accesso</h3>
    <form class="uk-form-stacked" method="POST">
      {{ form.csrf_token }}
      <div class="uk-margin-small">
        <div class="uk-form-controls">
          {{ form.email(class="uk-input uk-form-small", placeholder="Email") }}
        </div>
      </div>
      <div class="uk-margin-small">
        <div class="uk-form-controls">
          {{ form.password(class="uk-input uk-form-small", placeholder="Password") }}
        </div>
      </div>
      <div class="uk-margin-top">
        {{ form.submit(class="uk-button uk-button-primary uk-button-small") }}
      </div>
    </form>
  </div>
</div>

{% endblock %}
