{% extends "base.html" %}
{% set page_title = "Registro attività" %}

{% import "macros/table_macros.html" as table_macros with context %}

{% block content %}
<div class="uk-grid-small uk-child-width-1-2@s uk-margin-bottom" uk-grid>
  <div>
    <h2><i uk-icon="icon: list; ratio: 2" class="uk-text-primary"></i>&nbsp;{{ page_title }}</h2>
  </div>
  <div class="uk-text-right@s">
    <button type="button" onclick="window.location='{{ url_for('activities.new_activity') }}'" class="uk-button uk-button-primary uk-button-small"><span uk-icon="plus"></span>&nbsp;Aggiungi</button>
  </div>
</div>

  {{ table_macros.render_activities_table("Tutte le attività", activities) }}
{% endblock %}
