{% extends "base.html" %}
{% set active_page = "activities.index" %}

{% import "macros/form_macros.html" as form_macros %}

{% if action == "new" %}
  {% set page_title = "Nuova attività" %}
  {% set page_icon = "bi-person-plus-fill" %}
{% elif action == "update" %}
  {% set page_title = "Modifica attività" %}
  {% set page_icon = "bi-gear-fill" %}
  {% set hidden_method = "PATCH" %}
{% endif %}

{% block content %}
<h2 class="py-2"><i class="bi {{ page_icon }} text-primary me-2"></i>{{ page_title }}</h2>
<h4 class="border-start border-primary border-4 ps-2 mt-3">Dati dell'attività</h4>
<form method="POST" class="mt-3">
  {% if action == "update" %}
    <input type="hidden" name="_method" value="{{ hidden_method }}">
  {% endif %}
  {{ form.csrf_token }}

  {{ form_macros.render_field(form.subtype, "select") }}
  {{ form_macros.render_field(form.user, "select") }}
  {{ form_macros.render_field(form.date, "simple") }}
  {{ form_macros.render_field(form.event, "select") }}
  {{ form_macros.render_field(form.activity, "select") }}
  {{ form_macros.render_field(form.start_time, "simple") }}
  {{ form_macros.render_field(form.end_time, "simple") }}
  {{ form_macros.render_field(form.location, "simple") }}
  {{ form_macros.render_field(form.notes, "text") }}

  {{ form.submit(class="btn btn-success") }}
  <a href="{{ url_for('users.index') }}" type="button" class="btn btn-danger">Annulla</a>
</form>

<script>
  $(document).ready(function() {
    // Get select fields
    subtype_dropdown = $("#subtype");
    user_dropdown = $("#user");

    // Update users on load, based on the subtype field (except when updating)
    {% if action == "new" %}
      updateUsers();
    {% endif %}

    // Function to call XHR and update user dropdown
    function updateUsers() {
      var send = {
        subtype: subtype_dropdown.val()
      };
      user_dropdown.attr("disabled", "disabled");
      user_dropdown.empty();
      $.getJSON("{{ url_for('activities._get_users') }}", send, function(data) {
        if (data.length) {
          data.forEach(function(item) {
            user_dropdown.append(
              $("<option>", {
                value: item[0],
                text: item[1]
              })
            );
          });
          user_dropdown.removeAttr("disabled");
        }
      });
    }

    // Event listener to check for subtype dropdown changes
    subtype_dropdown.change(function() {
      console.log("Change");
      updateUsers();
    });
  });
</script>
{% endblock %}
