{% extends "base.html" %}

{% import "macros/form_macros.html" as form_macros %}

{% if action == "new" %}
  {% set page_title = "Nuova attività" %}
  {% set page_icon = "plus" %}
{% elif action == "update" %}
  {% set page_title = "Modifica attività" %}
  {% set page_icon = "cog" %}
  {% set hidden_method = "PATCH" %}
{% endif %}

{% block content %}
<h2 class="uk-margin-remove"><span uk-icon="icon: {{ page_icon }}; ratio: 2" class="uk-text-primary"></span>&nbsp;{{ page_title }}</h2>
<div class="uk-container-small uk-margin-top">
  <form method="POST" class="uk-form-stacked uk-grid-small" uk-grid>
    {% if action == "update" %}
      <input type="hidden" name="_method" value="{{ hidden_method }}">
    {% endif %}
    {{ form.csrf_token }}
    <div class="uk-width-1-2@s">
      {{ form_macros.render_field(form.subtype, "select") }}
    </div>
    <div class="uk-width-1-2@s">
      {{ form_macros.render_field(form.user, "select") }}
    </div>
    <div class="uk-width-1-2@s">
      {{ form_macros.render_field(form.date, "simple") }}
    </div>
    <div class="uk-width-1-2@s">
      {{ form_macros.render_field(form.event, "select") }}
    </div>
    <div class="uk-width-1-2@s">
      {{ form_macros.render_field(form.activity, "select") }}
    </div>
    <div class="uk-width-1-4@s">
      {{ form_macros.render_field(form.start_time, "simple") }}
    </div>
    <div class="uk-width-1-4@s">
      {{ form_macros.render_field(form.end_time, "simple") }}
    </div>
    <div class="uk-width-1-4@s">
      {{ form_macros.render_field(form.region, "select") }}
    </div>
    <div class="uk-width-1-4@s">
      {{ form_macros.render_field(form.province, "select") }}
    </div>
    <div class="uk-width-1-4@s">
      {{ form_macros.render_field(form.town, "select") }}
    </div>
    <div class="uk-width-1-4@s">
      {{ form_macros.render_field(form.location, "simple") }}
    </div>
    <div class="uk-width-1-1@s">
      {{ form_macros.render_field(form.notes, "text") }}
    </div>

    <div class="uk-margin">
      {{ form.submit(class="uk-button uk-button-primary uk-button-small") }}
      <button onclick="window.location='{{ url_for('activities.index') }}'" type="button" class="uk-button uk-button-danger uk-button-small">Annulla</button>
    </div>
  </form>
</div>

<script>
  $(document).ready(function() {

    // Location infos selection

    // Function to call XHR and update provinces dropdown
    async function updateProvinces(region) {
      var send = {
        region: region ? region : dropdowns.region.val()
      };
      dropdowns.province.empty();
      dropdowns.province.attr("disabled", "disabled");
      await $.getJSON("{{ url_for('activities._get_provinces') }}", send, function(data) {
        if (data.length) {
          data.forEach(function(item) {
            dropdowns.province.append(
              $("<option>", {
                  value: item[0],
                  text: item[1]
              })
            );
          });
          dropdowns.province.removeAttr("disabled");
        }
      });
    }

    // Function to call XHR and update towns dropdown
    async function updateTowns(province) {
      var send = {
        province: province ? province : dropdowns.province.val()
      };
      dropdowns.town.empty();
      dropdowns.town.attr("disabled", "disabled");
      await $.getJSON("{{ url_for('activities._get_towns') }}", send, function(data) {
        if (data.length) {
          data.forEach(function(item) {
            dropdowns.town.append(
              $("<option>", {
                  value: item[0],
                  text: item[1]
              })
            );
          });
          dropdowns.town.removeAttr("disabled");
        }
      });
    }

    // Function to call XHR and update users dropdown
    async function updateUsers() {
      var send = {
        subtype: dropdowns.subtype.val()
      };
      dropdowns.user.empty();
      dropdowns.user.attr("disabled", "disabled");
      await $.getJSON("{{ url_for('activities._get_users') }}", send, function(data) {
        if (data.length) {
          data.forEach(function(item) {
            dropdowns.user.append(
              $("<option>", {
                  value: item[0],
                  text: item[1]
              })
            );
          });
          dropdowns.user.removeAttr("disabled");
        }
      });
    }

    // Get selects
    var dropdowns = {
      region: $("#region"),
      province: $("#province"),
      town: $("#town"),
      subtype: $("#subtype"),
      user: $("#user")
    };

    // Update infos and set defaults on load
    async function setDefaults() {
      {% if action == "new" %}
        await updateProvinces("Friuli Venezia Giulia");
        await updateTowns("Udine");
        dropdowns.region.val("Friuli Venezia Giulia");
        dropdowns.province.val("Udine");
        dropdowns.town.val("Buttrio");
      {% else %}
        await updateProvinces("{{ form.data.region }}");
        await updateTowns("{{ form.data.province }}");
        dropdowns.region.val("{{ form.data.region }}");
        dropdowns.province.val("{{ form.data.province }}");
        dropdowns.town.val("{{ form.data.town }}");
      {% endif %}
    }
    setDefaults();

    // Event listeners to check for dropdowns changes
    dropdowns.region.on("change", function() {
      async function updateLocations() {
        await updateProvinces();
        await updateTowns();
      }
      updateLocations();
    });
    dropdowns.province.on("change", function() {
      updateTowns();
    });
    dropdowns.subtype.on("change", function() {
      updateUsers();
    });
  });
</script>
{% endblock %}
