{% extends "base.html" %}

{% import "macros/form_macros.html" as form_macros %}

{% if action == "new" %}
  {% set page_title = "Nuova attività" %}
  {% set page_icon = "plus" %}
{% elif action == "update" %}
  {% set page_title = "Modifica attività" %}
  {% set page_icon = "cog" %}
  {% set hidden_method = "PATCH" %}
{% endif %}

{% block content %}
<h2 class="uk-margin-remove"><span uk-icon="icon: {{ page_icon }}; ratio: 2" class="uk-text-primary"></span>&nbsp;{{ page_title }}</h2>
<div class="uk-container-small uk-margin-top">
  <form method="POST" class="uk-form-stacked uk-grid-small" uk-grid>
    {% if action == "update" %}
    <input type="hidden" name="_method" value="{{ hidden_method }}">
    {% endif %}
    {{ form.csrf_token }}

    <div class="uk-width-1-2@s">
      {{ form_macros.render_field(form.subtype, "select") }}
    </div>
    <div class="uk-width-1-2@s">
      {{ form_macros.render_field(form.user, "select") }}
    </div>
    <div class="uk-width-1-2@s">
      {{ form_macros.render_field(form.date, "simple") }}
    </div>
    <div class="uk-width-1-2@s">
      {{ form_macros.render_field(form.event, "select") }}
    </div>
    <div class="uk-width-1-2@s">
      {{ form_macros.render_field(form.activity, "select") }}
    </div>
    <div class="uk-width-1-4@s">
      {{ form_macros.render_field(form.start_time, "simple") }}
    </div>
    <div class="uk-width-1-4@s">
      {{ form_macros.render_field(form.end_time, "simple") }}
    </div>
    <div class="uk-width-1-3@s">
      {{ form_macros.render_field(form.province, "select") }}
    </div>
    <div class="uk-width-1-3@s">
      {{ form_macros.render_field(form.town, "select") }}
    </div>
    <div class="uk-width-1-3@s">
      {{ form_macros.render_field(form.location, "simple") }}
    </div>
    <div class="uk-width-1-1@s">
      {{ form_macros.render_field(form.notes, "text") }}
    </div>

    <div class="uk-margin">
      {{ form.submit(class="uk-button uk-button-primary uk-button-small") }}
      <button onclick="window.location='{{ url_for('activities.index') }}'" type="button" class="uk-button uk-button-danger uk-button-small">Annulla</button>
    </div>
  </form>
</div>

<script>
  $(document).ready(function() {
    // Get user select fields
    subtype_dropdown = $("#subtype");
    user_dropdown = $("#user");

    // Get town select fields
    province_dropdown = $("#province");
    town_dropdown = $("#town");

    // Update users and towns on load only in new mode
    {% if action == "new" %}
      updateUsers();
      updateTowns();
    {% endif %}

    // Event listeners to check for subtype and province dropdowns changes
    subtype_dropdown.change(function() {
      updateUsers();
    });
    province_dropdown.change(function() {
      updateTowns();
    });
  });

  // Function to call XHR and update users dropdown
  function updateUsers() {
    var send = {
      subtype: subtype_dropdown.val()
    };
    user_dropdown.attr("disabled", "disabled");
    user_dropdown.empty();
    $.getJSON("{{ url_for('activities._get_users') }}", send, function(data) {
      if (data.length) {
        data.forEach(function(item) {
          user_dropdown.append(
            $("<option>", {
              value: item[0],
              text: item[1]
            })
          );
        });
        user_dropdown.removeAttr("disabled");
      }
    });
  }

  // Function to call XHR and update towns dropdown
  function updateTowns() {
    var send = {
      province: province_dropdown.val()
    };
    town_dropdown.attr("disabled", "disabled");
    town_dropdown.empty();
    $.getJSON("{{ url_for('activities._get_towns') }}", send, function(data) {
      if (data.length) {
        data.forEach(function(item) {
          town_dropdown.append(
            $("<option>", {
              value: item,
              text: item
            })
          );
        });
        town_dropdown.removeAttr("disabled");
      }
    });
  }
</script>
{% endblock %}
