{% extends "base.html" %}
{% set page_title = "Gestione volontari" %}

{% import "macros/table_macros.html" as table_macros with context %}

{% block content %}
<div class="uk-flex uk-flex-wrap uk-flex-between uk-flex-top">
  <h2><i class="bi bi-people-fill uk-text-primary"></i>&nbsp;{{ page_title }}</h2>
  <div>
    <button type="button" onclick="window.location='{{ url_for('users.index') }}'" class="uk-button uk-button-default uk-button-small"><i class="bi bi-people-fill"></i><span class="uk-visible@s">&nbsp;Visualizza per gruppo</span></button>
    <button type="button" onclick="window.location='{{ url_for('users.new_user') }}'" class="uk-button uk-button-primary uk-button-small"><i class="bi bi-plus-circle-fill"></i><span class="uk-visible@s">&nbsp;Aggiungi</span></button>
  </div>
</div>

{{ table_macros.render_users_table("Tutti i volontari", users, all_flag=true) }}
{% endblock %}
