{% extends "base.html" %}
{% set page_title = "Gestione volontari" %}

{% import "macros/table_macros.html" as table_macros with context %}
{% import "macros/page_macros.html" as page_macros with context %}

{% block content %}
    {{ page_macros.render_page_title(
        page_title,
        "users",
        [{"text": "Tutti", "icon": "table", "color": "default", "url": "users.all_users"},
        {"text": "Aggiungi", "icon": "plus", "color": "primary", "url": "users.new_user"}])
    }}

    {{ table_macros.render_users_table("Protezione Civile", pc, false) }}
    <div class="uk-margin-top">
      {{ table_macros.render_users_table("Alpini", alpini, false) }}
    </div>
    <div class="uk-margin-top">
      {{ table_macros.render_users_table("Volontari occasionali", occasionali, false) }}
    </div>
    <div class="uk-margin-top">
      {{ table_macros.render_users_table("Esterni non assicurati", non_assicurati, false) }}
    </div>
{% endblock %}
