{% extends "base.html" %}
{% set active_page = "users.index" %}
{% set page_title = "Gestione volontari" %}

{% import "macros/table_macros.html" as table_macros with context %}

{% block content %}
<div class="float-end">
  <a type="button" href="{{ url_for('users.all_users') }}" class="btn btn-secondary"><i class="bi bi-people-fill me-2"></i>Visualizza tutti</a>
  <a type="button" href="{{ url_for('users.new_user') }}" class="btn btn-success"><i class="bi bi-person-plus-fill me-2"></i>Aggiungi</a>
</div>
<h2 class="py-2"><i class="bi bi-people-fill text-primary me-2"></i>{{ page_title }}</h2>

{{ table_macros.render_users_table("Protezione Civile", pc) }}
{{ table_macros.render_users_table("Alpini", alpini) }}
{{ table_macros.render_users_table("Volontari occasionali", occasionali) }}
{{ table_macros.render_users_table("Esterni non assicurati", non_assicurati) }}
{% endblock %}
