{% extends "base.html" %}
{% set active_page = "users.index" %}
{% set page_title = "Gestione volontari" %}

{% block content %}
<h3>{{ page_title }}</h3>
<h4 class="border-start border-primary border-4 ps-1">Protezione Civile</h4>
<div class="mx-auto mt-3">
  <div class="table-responsive">
    <table class="table table-bordered table-sm">
      <thead class="table-light">
        <tr>
          <th>Cognome</th>
          <th>Nome</th>
          <th>Genere</th>
          <th>Luogo di nascita</th>
          <th>Data di nascita</th>
          <th>CAP</th>
          <th>Città</th>
          <th>Indirizzo</th>
          <th>Email 1</th>
          <th>Email 2</th>
          <th>Tel 1</th>
          <th>Tel 2</th>
          <th>Note</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
        <tr>
          <td>{{ user.lastname }}</td>
          <td>{{ user.firstname }}</td>
          <td>{{ user.gender }}</td>
          <td>{{ user.born_on }}</td>
          <td>{{ user.born_in }}</td>
          <td>{{ user.zip }}</td>
          <td>{{ user.city }}</td>
          <td>{{ user.address }}</td>
          <td>{{ user.email1 }}</td>
          <td>{{ user.email2 }}</td>
          <td>{{ user.tel1 }}</td>
          <td>{{ user.tel2 }}</td>
          <td>{{ user.notes }}</td>
        </tr>
        {% endfor %}</tbody>
    </table>
  </div>
</div>
{% endblock %}
