{% extends "base.html" %}
{% set active_page = "users.index" %}

{% import "macros/form_macros.html" as form_macros %}

{% if action == "new" %}
  {% set page_title = "Nuovo volontario" %}
  {% set page_icon = "bi-person-plus-fill" %}
{% elif action == "update" %}
  {% set page_title = "Modifica volontario" %}
  {% set page_icon = "bi-gear-fill" %}
  {% set hidden_method = "PATCH" %}
{% endif %}

{% block content %}
<h2 class="uk-margin-remove"><i class="bi {{ page_icon }} uk-text-primary"></i>&nbsp;{{ page_title }}</h2>
<h4 class="uk-margin-small">Dati del volontario</h4>
<form method="POST" class="mt-3">
  {% if action == "update" %}
    <input type="hidden" name="_method" value="{{ hidden_method }}">
  {% endif %}
  {{ form.csrf_token }}

  {{ form_macros.render_field(form.subtype, "multiple-select") }}
  {{ form_macros.render_field(form.firstname, "simple") }}
  {{ form_macros.render_field(form.lastname, "simple") }}
  {{ form_macros.render_field(form.gender, "select") }}
  {{ form_macros.render_field(form.born_on, "simple") }}
  {{ form_macros.render_field(form.born_in, "simple") }}
  {{ form_macros.render_field(form.zip, "simple") }}
  {{ form_macros.render_field(form.city, "simple") }}
  {{ form_macros.render_field(form.address, "simple") }}
  {{ form_macros.render_field(form.email1, "simple") }}
  {{ form_macros.render_field(form.email2, "simple") }}
  {{ form_macros.render_field(form.tel1, "simple") }}
  {{ form_macros.render_field(form.tel2, "simple") }}
  {{ form_macros.render_field(form.notes, "text") }}

  {{ form.submit(class="uk-button uk-button-primary uk-button-small") }}
  <button onclick="window.location='{{ url_for('users.index') }}'" type="button" class="uk-button uk-button-danger uk-button-small">Annulla</button>
</form>
{% endblock %}
