$navbar-nav-item-hover-color:           lighten($global-primary-background, 10%);
$navbar-nav-item-onclick-color:         lighten($global-primary-background, 10%);
$navbar-nav-item-active-color:          $global-primary-background;
