{% extends "base.html" %}
{% set active_page = "events.index" %}

{% import "macros/form_macros.html" as form_macros %}

{% if action == "new" %}
  {% set page_title = "Nuovo evento" %}
  {% set page_icon = "bi-calendar-plus-fill" %}
{% elif action == "update" %}
  {% set page_title = "Modifica evento" %}
  {% set page_icon = "bi-gear-fill" %}
  {% set hidden_method = "PATCH" %}
{% endif %}

{% block content %}
<h2 class="py-2"><i class="bi {{ page_icon }} text-primary me-2"></i>{{ page_title }}</h2>
<h4 class="border-start border-primary border-4 ps-2 mt-3">Dati dell'evento</h4>
<form method="POST" class="mt-3">
  {% if action == "update" %}
    <input type="hidden" name="_method" value="{{ hidden_method }}">
  {% endif %}
  {{ form.csrf_token }}

  {{ form_macros.render_field(form.gb_category, "select") }}
  {{ form_macros.render_field(form.name, "simple") }}
  {{ form_macros.render_field(form.descr, "text") }}

  {{ form.submit(class="btn btn-success") }}
  <button onclick="window.location='{{ url_for('events.index') }}'" type="button" class="btn btn-danger">Annulla</button>
</form>
{% endblock %}
