{% macro render_field_errors(field) %}
  <div class="uk-text-small uk-text-danger">
    {% for error in field.errors %}
      {{ error }}
    {% endfor %}
  </div>
{% endmacro %}

{% macro render_field(field, field_type) %}
  {% if field_type == "simple" %}

    <div class="uk-margin-small">
        {{ field.label(class="uk-form-label") }}
        <div class="uk-form-controls">
            {% if not field.errors %}
              {{ field(class="uk-input uk-form-small uk-form-width-large") }}
            {% else %}
              {{ field(class="uk-input uk-form-small uk-form-width-large uk-form-danger") }}
            {% endif %}
            {% if field.description %}
              <div class="uk-text-small uk-text-muted">
                {{ field.description }}
              </div>
            {% endif %}
            {% if field.errors %}
              {{ render_field_errors(field) }}
            {% endif %}
        </div>
    </div>

  {% elif field_type == "select" %}

    <div class="uk-margin-small">
        {{ field.label(class="uk-form-label") }}
        <div class="uk-form-controls">
          {% if not field.errors %}
            {{ field(class="uk-select uk-form-small uk-form-width-large") }}
          {% else %}
            {{ field(class="uk-select uk-form-small uk-form-width-large uk-form-danger") }}
          {% endif %}
            {% if field.description %}
              <div class="uk-text-small uk-text-muted">
                {{ field.description }}
              </div>
            {% endif %}
            {% if field.errors %}
              {{ render_field_errors(field) }}
            {% endif %}
        </div>
    </div>

  {% elif field_type == "multiple-select" %}

    <div class="uk-margin-small">
        {{ field.label(class="uk-form-label") }}
        <div class="uk-form-controls">
            {% if not field.errors %}
              {{ field(class="uk-select uk-form-small uk-form-width-large", size=field.choices|length) }}
            {% else %}
              {{ field(class="uk-select uk-form-small uk-form-width-large uk-form-danger", size=field.choices|length) }}
            {% endif %}
            {% if field.description %}
              <div class="uk-text-small uk-text-muted">
                {{ field.description }}
              </div>
            {% endif %}
            {% if field.errors %}
              {{ render_field_errors(field) }}
            {% endif %}
        </div>
    </div>

  {% elif field_type == "text" %}

    <div class="uk-margin-small">
        {{ field.label(class="uk-form-label") }}
        <div class="uk-form-controls">
            {% if not field.errors %}
              {{ field(class="uk-textarea uk-form-small uk-form-width-large") }}
            {% else %}
              {{ field(class="uk-textarea uk-form-small uk-form-width-large uk-form-danger") }}
            {% endif %}
            {% if field.description %}
              <div class="uk-text-small uk-text-muted">
                {{ field.description }}
              </div>
            {% endif %}
            {% if field.errors %}
              {{ render_field_errors(field) }}
            {% endif %}
        </div>
    </div>

  {% endif %}
{% endmacro %}
