{% macro table_scripts(table_id) %}
  <script>
    $(document).ready(function() {
      var table = $("#{{ table_id }}").DataTable({
        dom: "<'row'<'col-sm-6 col-md-4 col-lg-3 col-xl-2'B><'col-sm-6 col-md-4 col-lg-2 col-xl-2 mt-1'l><'col-sm-12 col-md-4 col-lg-7 col-xl-8'f>>" + "<'row'<'col-sm-12'tr>>" + "<'row'<'col-sm-5'i><'col-sm-7'p>>",
        "pageLength": 25,
        "columnDefs": [
          { "targets": [$('#{{ table_id }} thead tr th').length - 1], "orderable": false }
        ],
        initComplete: function() {
          this.api().columns().every(function() {
              var column = this;
              var select = $('<select class="form-select form-select-sm"><option class="text-muted" value=""></option></select>')
                .appendTo($(column.footer()).empty())
                .on('change', function() {
                  var val = $.fn.dataTable.util.escapeRegex(
                    $(this).val()
                  );
                  column.search(val ? '^' + val + '$' : '', true, false).draw();
                });

              column.data().unique().sort().each(function (d, j) {
                  select.append('<option value="' + d + '">' + d + '</option>')
              });
          });
        }
      });
    });
  </script>
{% endmacro %}

{% macro replace_if_none(value) %}
  {{ value|default("-", true) }}
{% endmacro %}

{% macro render_users_table(title, users) %}
  <h4 class="border-start border-primary border-4 ps-2 mt-4">{{ title }}</h4>
  {% set headers = ["Cognome", "Nome", "Genere", "Nato il", "Nato a", "CAP", "Città", "Indirizzo", "Email 1", "Email 2", "Tel 1", "Tel 2", "Tipologia", "Note"] %}
  <div class="mx-auto mt-3">
    <div class="table-responsive">
      {% set table_id = title.replace(" ", "-").lower() + "-table" %}
      <table id="{{ table_id }}" class="table table-sm">
        <thead>
          <tr>
            {% for header in headers%}
              <th>{{ header }}</th>
            {% endfor %}
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for user in users %}
          <tr>
            <td>{{ replace_if_none(user.lastname) }}</td>
            <td>{{ replace_if_none(user.firstname) }}</td>
            <td>{{ replace_if_none(user.gender) }}</td>
            {% if user.born_on == None %}
              <td>{{ replace_if_none(user.born_on) }}</td>
            {% else %}
              <td>{{ moment(user.born_on).format('L') }}</td>
            {% endif %}
            <td>{{ replace_if_none(user.born_in) }}</td>
            <td>{{ replace_if_none(user.zip) }}</td>
            <td>{{ replace_if_none(user.city) }}</td>
            <td>{{ replace_if_none(user.address) }}</td>
            <td>{{ replace_if_none(user.email1) }}</td>
            <td>{{ replace_if_none(user.email2) }}</td>
            <td>{{ replace_if_none(user.tel1) }}</td>
            <td>{{ replace_if_none(user.tel2) }}</td>
            <td>{{ user.subtype_name }}</td>
            <td>{{ replace_if_none(user.notes) }}</td>
            <td class="text-center">
              <a class="me-1" href="{{ url_for('users.update_user', user_id=user.id) }}" title="Modifica"><i class="bi bi-gear-fill text-primary"></i></a>
              <a class="me-1" href="{{ url_for('users.duplicate_user', user_id=user.id, subtype_id=user.subtype_id) }}" title="Duplica"><i class="bi bi-file-earmark-plus-fill text-primary"></i></a>
              <a class="me-1" href="{{ url_for('users.delete_user', user_id=user.id, subtype_id=user.subtype_id) }}" title="Elimina"><i class="bi bi-trash-fill text-primary"></i></a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
        <tfoot>
          <tr>
            {% for header in headers%}
              <th>{{ header }}</th>
            {% endfor %}
          </tr>
        </tfoot>
      </table>
      {{ table_scripts(table_id) }}
    </div>
  </div>
{% endmacro %}

{% macro render_events_table(title, events) %}
  <h4 class="border-start border-primary border-4 ps-2 mt-4">{{ title }}</h4>
  {% set headers = ["Categoria Libro Verde", "Evento", "Descrizione"] %}
  <div class="mx-auto mt-3">
    <div class="table-responsive">
      {% set table_id = title.replace(" ", "-").lower() + "-table" %}
      <table id="{{ table_id }}" class="table table-sm">
        <thead>
          <tr>
            {% for header in headers%}
              <th>{{ header }}</th>
            {% endfor %}
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for event in events %}
          <tr>
            <td>{{ event.cat_name }}</td>
            <td>{{ event.name }}</td>
            <td>{{ replace_if_none(event.descr) }}</td>
            <td class="text-center">
              <a class="me-1" href="{{ url_for('events.update_event', event_id=event.id) }}" title="Modifica"><i class="bi bi-gear-fill text-primary"></i></a>
              <a class="me-1" href="{{ url_for('events.duplicate_event', event_id=event.id) }}" title="Duplica"><i class="bi bi-file-earmark-plus-fill text-primary"></i></a>
              <a class="me-1" href="{{ url_for('events.delete_event', event_id=event.id) }}" title="Elimina"><i class="bi bi-trash-fill text-primary"></i></a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
        <tfoot>
          <tr>
            {% for header in headers%}
              <th>{{ header }}</th>
            {% endfor %}
          </tr>
        </tfoot>
      </table>
      {{ table_scripts(table_id) }}
    </div>
  </div>
{% endmacro %}

{% macro render_activities_table(title, activities) %}
  <h4 class="border-start border-primary border-4 ps-2 mt-4">{{ title }}</h4>
  {% set headers = ["Data", "Volontario", "Tipologia vol.", "Evento", "Attività", "Inizio", "Fine", "Luogo", "Note"] %}
  <div class="mx-auto mt-3">
    <div class="table-responsive">
      {% set table_id = title.replace(" ", "-").lower() + "-table" %}
      <table id="{{ table_id }}" class="table table-sm">
        <thead>
          <tr>
            {% for header in headers%}
              <th>{{ header }}</th>
            {% endfor %}
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for activity in activities %}
          <tr>
            <td>{{ moment(activity.date).format('L') }}</td>
            {% with user = activity.lastname + " " + activity.firstname %}
              <td>{{ user }}</td>
            {% endwith %}
            <td>{{ activity.subtype }}</td>
            <td>{{ activity.event }}</td>
            <td>{{ activity.activity }}</td>
            <td>{{ activity.start_time }}</td>
            <td>{{ activity.end_time }}</td>
            <td>{{ activity.location }}</td>
            <td>{{ replace_if_none(activity.notes) }}</td>
            <td class="text-center">
              <a class="me-1" href="{{ url_for('activities.update_activity', activity_id=activity.id) }}" title="Modifica"><i class="bi bi-gear-fill text-primary"></i></a>
              <a class="me-1" href="{{ url_for('activities.duplicate_activity', activity_id=activity.id) }}" title="Duplica"><i class="bi bi-file-earmark-plus-fill text-primary"></i></a>
              <a class="me-1" href="{{ url_for('activities.delete_activity', activity_id=activity.id) }}" title="Elimina"><i class="bi bi-trash-fill text-primary"></i></a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
        <tfoot>
          <tr>
            {% for header in headers%}
              <th>{{ header }}</th>
            {% endfor %}
          </tr>
        </tfoot>
      </table>
      {{ table_scripts(table_id) }}
    </div>
  </div>
{% endmacro %}
