<div
  id="to-top"
  class="uk-position-fixed uk-position-small uk-position-bottom-right uk-margin-medium-right uk-animation-slide-right-medium uk-hidden"
>
  <a href="#" class="uk-icon-button uk-button-primary" uk-icon="icon: chevron-up; ratio: 1.2" uk-scroll></a>
</div>

<script>
  var toTop = document.getElementById("to-top");

  window.onscroll = function() {
    showToTop();
  };

  function showToTop() {
    if (
      document.body.scrollTop > 600 ||
      document.documentElement.scrollTop > 600
    ) {
      toTop.classList.remove("uk-hidden");
    } else {
      toTop.classList.add("uk-hidden");
    }
  }
</script>
