<!DOCTYPE html>
<html lang="it">

  <!-- Head -->
  {% include "partials/head.html" %}

  <body>

    <!-- Fixed navbar -->
    {% include "partials/navbar.html" %}

    <!-- Page content -->
    <main>
      <div
        class="uk-container uk-container-expand uk-margin-top uk-margin-large-bottom"
        uk-height-viewport="expand: true;"
      >
        {% for category, message in get_flashed_messages(with_categories=true) %}
          <div class="alert {% if category == 'error' %} alert-danger {% elif category == 'info' %} alert-success {% elif category == 'warning' %} alert-warning {% endif %} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {% endfor %}

        {% block content %}{% endblock %}
      </div>

      <!-- To top -->
      {% include "partials/totop.html" %}
    </main>

    <!-- Footer -->
    {% include "partials/footer.html" %}

    <!-- Scripts -->
    {% include "partials/scripts.html" %}
  </body>
</html>
